/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-v8ch-primary-category  {
  .flex {
    display: flex;
  }

  .justify-center {
    justify-content: center;
  }

  & .spinner {
    float: none;
  }
}
